@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


 *, ::before, ::after{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}
    

/* HEADER */
.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 2em;
    font-family: fantasy;
    color: rgb(46, 45, 45);
    text-align: center;
    line-height: 80px;
}

.header-logo img{
    height: 40px;
}

.header-logo p img{
    height: 23px;
}

/* liste */
nav{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(104, 103, 103);
    background-color:  #D4EED1;
}

.header-liste{
    display: flex;
    justify-content: center;
    color: rgb(241, 183, 107);
    list-style-type: none;
    line-height: 50px;
    font-size: 25px;    
}

.liste a{
    text-decoration: none;
    color: rgb(241, 183, 107);
}


.liste{
    cursor: pointer;
    margin: 0 40px;
    flex-shrink: 0;
    width: 200px;
    text-align: center;
}

.liste:hover{
    background-color:  #D4EED1;
    transition: 0.5s;
}



.liste span{
    font-size: 14px;
}


/* SOUS-LISTE */

.header-sous-liste{
    margin-top: -4px;
    display: none;
}

.sous-liste {
    list-style-type: none;
    text-align: center;
    padding: 0 10px;
    background-color:  #D4EED1;
    height: 49px;  
    position: relative; 
}



.sous-liste span{
    display: none;
    position: absolute;
    top: 2px;
    right: 15px;
}

.sous-liste:hover{
    background-color:  #D4EED1;
    transition: 0.5s;
}


.sous-liste:hover span{
    display: inline;
}

.liste:hover > ul{
    display: block;
}

/* SOUS-SOUS-LISTE (2) */

.header-sous-liste2{
    position: relative;
    top: -50px;
    left: 190px;
    background-color:  #D4EED1;
    list-style-type: none;
    display: none;
}

.sous-liste2{
    text-align: center;
    padding: 0 10px;
    
    
} 
.sous-liste2 a{
    text-decoration: none;
    color: rgb(241, 183, 107)
      
}

.sous-liste2:hover{
    background-color: #D4EED1;
    transition: 0.5s;
    
}

.liste > ul > .sous-liste:hover > ul{
    display: block;
    
}
/* fin de la liste */
/* FIN HEADER */

/* html,body */

html, body {
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Pacifico', cursive;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

/* main */


.main-top-ilr{
    background-image: url(../image/Cap-noir-bestjobers.jpg);
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    color: white;
}

.un-grand-voyage{
    background-image: url(../image/reunion-trou-de-fer.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.visiter-Reunion{
    text-align: center;
}

.activites-ilr{
    text-align: center;
}

/* Piton-Fournaise */

.Piton-Fournaise{
    text-align: center;
    line-height: 2em;
    font-family: 'Roboto', sans-serif;
}

.img-pf{
    display: flex;
    padding-top: 2%;
}

.pf{
    height: 80%;
    width: 80%;
    border: solid 2px black;
    box-shadow: 10px 5px 5px black;
}

/* plage */

.plage-R{
    background-image: url(../image/Plage-de-.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}
.Boucan-Canot{
    text-align: center;
    
}

.carte-BC{
    text-align: center;
}

/* cirque-de-mafate */


/* tableau */

.image-tableau{
    background-image: url(../image/cirque-mafate.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.table-RU{
    text-align: center;
}

.tableau-RU{
font-family: Georgia, serif;
border: 2px solid #24943A;
background-color: #D4EED1;
width: 100%;
text-align: center;
}


table.tableau-RU td, table.tableau-RU th {
border: 1px solid #24943A;
padding: 3px 2px;
}

table.tableau-RU tbody td {
font-size: 30px;
}

table.tableau-RU thead {
background: #24943A;
background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
border-bottom: 0px solid #444444;
}

table.tableau-RU thead th {
font-size: 30px;
font-weight: bold;
color: #F0F0F0;
text-align: center;
border-left: 5px solid #24943A;
}

table.tableau-RU thead th:first-child {
border-left: none;
}


table.tableau-RU tfoot {
font-size: 13px;
font-weight: bold;
color: #F0F0F0;
background: #24943A;
background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
border-top: 1px solid #24943A;
}

table.tableau-RU tfoot td {
font-size: 13px;
}

table.tableau-RU tfoot .links {
text-align: right;
}

table.tableau-RU tfoot .links a{
display: inline-block;
background: #FFFFFF;
color: #24943A;
padding: 2px 8px;
border-radius: 5px;
}

/* footer */
footer{
    background: grey;
    height:210px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    color:#e3ffe7;
    margin-top: auto;
    line-height: 30px;
    text-align: center;
    font-family: "Font Awesome 5 Brands";
}

footer a{
    text-decoration: none;
    color:#e3ffe7;
    line-height: 30px;
    font-family: "Font Awesome 5 Brands";
    font-size: 1.2em;
}

footer a:hover{
    color: rgb(96, 149, 248);
    transition: color 0.6s;
}
